mkdocs-material
mkdocs-macros-plugin
mkdocs-swagger-ui-tag
mkdocs-redoc-tag           # если используешь <redoc>
mkdocs-git-revision-date-localized-plugin
mkdocs-glossary            # если хочешь отдельный плагин глоссария
pymdown-extensions
